<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webáruház</title>
</head>
<body>
<h1>Termékek</h1>
<table>
    <thead>
    <tr>
        <th>Termék neve</th>
        <th>Ár</th>
        <th>Leírás</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>